data/*
fits_images*
images_to_share*
results*
*__pycache__*
*.aux
*.synctex*
*.bbl
*.blg
*.log
logs*
*temp*
*.egg-info
drivers/reconstructive_tfa/*.out
drivers/reconstructive_tfa/*.txt
doc/Jenkins*pdf
sandbox*
build*
dist*
*.pyc
drivers/DETRENDED*txt
tess-*astrocut.fits
astrocut*zip
*DS_Store
*SECRET*
*doc_data.txt*
tests/*png
tests/test_*_plots
*review*
*xlsx
*s6_s7_curl_script.sh*
tests/test_vetting_reports/*
doc/notes_on_weirdos/*
drivers/reconstructive_tfa/sector-?_output*
tests/test_nbhd_plot/*
drivers/reconstructive_tfa/sector-*_output/
tests/test_pca/*
*pkl
*Theia303*
tests/*csv

doc*
