data/*
fits_images*
images_to_share*
results*
*__pycache__*
*.aux
*.synctex*
*.bbl
*.blg
*.log
logs*
*temp*
*.egg-info
drivers/reconstructive_tfa/*.out
drivers/reconstructive_tfa/*.txt
doc/Jenkins*pdf
sandbox*
build*
dist*
*.pyc
drivers/DETRENDED*txt
tess-*astrocut.fits
astrocut*zip
*DS_Store
*SECRET*
